<!DOCTYPE html>
<html>
	<head>
	</head>
		<body>
			<p>
			<a href="{{url_for('index')}}">Home Page</a><br/>
			<a href="{{url_for('authors')}}">Author List</a>
			</p>
			<div>
				<h3>{{book3[1]['name']}}</h3>
				{% if book3[1]['image_url'] != '' %}
					<img src="{{book3[1]['image_url']}}" alt="{{book3[1]['name']}}">
				{% endif %}
			</div>
			<div>
				{% if book3[1]['description'] != '' %}
					<p>About: <br/>
					{{book3[1]['description']}}<br/></p>
				{% endif %}
				<table>
					<tbody>
						<tr>
							<td>Nationality: </td>
							<td>{{book3[1]['nationality']}}</td>
						</tr>
						<tr>
							<td>Born: </td>
							<td>{{book3[1]['born']}}</td>
						</tr>
						<tr>
							<td>Alma Mater: </td>
							<td>{{book3[1]['alma_mater']}}</td>
						</tr>
						<tr>
							<td>Number of Books Available: </td>
							<td>{{book3[1]['books']}}</td>
						</tr>
					</tbody>
				</table>
				<p>Book(s): <a href="{{url_for('book3')}}">{{book3[0]['title']}}</a></p><br/>
				<a href="{{book3[1]['wikipedia_url']}}">Wikipedia</a>
			</div>
		</body>
</html>