<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Authors</title>
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    </head>
	<body>
		<p> <a href="{{url_for('index')}}">Home Page</a> <br/>
		This is the page of authors</p>

		<table>
			<tbody>
				<tr>
					<td>Name</td>
					<td>Date of Birth</td>
					<td>Nationality</td>
					<td>Number of Books Available</td>
					<td>Alma Mater</td>
				</tr>
				<tr>
					<td><a href="{{url_for('author1')}}">{{book1[1]['name']}}</a></td>
					<td>{{book1[1]['born']}}</td>
					<td>{{book1[1]['nationality']}}</td>
					<td>{{book1[1]['books']}}</td>
					<td>{{book1[1]['alma_mater']}}</td>
				</tr>
				<tr>
					<td><a href="{{url_for('author2')}}">{{book2[1]['name']}}</a></td>
					<td>{{book2[1]['born']}}</td>
					<td>{{book2[1]['nationality']}}</td>
					<td>{{book2[1]['books']}}</td>
					<td>{{book2[1]['alma_mater']}}</td>
				</tr>
				<tr>
					<td><a href="{{url_for('author3')}}">{{book3[1]['name']}}</a></td>
					<td>{{book3[1]['born']}}</td>
					<td>{{book3[1]['nationality']}}</td>
					<td>{{book3[1]['books']}}</td>
					<td>{{book3[1]['alma_mater']}}</td>
				</tr>
			</tbody>
		</table>

        <!-- Bootstrap needs external JavaScript libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>
