<!DOCTYPE html>
<html>
	<head>
	</head>
		<body>
			<p>
			<a href="{{url_for('index')}}">Home Page</a><br/>
			<a href="{{url_for('books')}}">Book List</a>
			</p>
			<div>
				<h3>{{book2[0]['title']}}</h3>
				<h4><a href="{{url_for('author2')}}">{{book2[1]['name']}}</a></h4>
				{% if book2[0]['subtitle'] != '' %}
					<p>{{book2[0]['subtitle']}}</p>
				{% endif %}
				{% if book2[0]['image_url'] != '' %}
					<img src="{{book2[0]['image_url']}}" alt="Front Cover">
				{% endif %}
					
			</div>
			<div>
				<p>Description: <br/>
				{{book2[0]['description']}}<br/></p>
				<table>
					<tbody>
																		<tr>
							<td>Genre: </td>
							<td>{{book2[0]['genre']}}</td>
						</tr>
						<tr>
							<td>Google ID: </td>
							<td>{{book2[0]['google_id']}}</td>
						</tr>
						<tr>
							<td>ISBN: </td>
							<td>{{book2[0]['isbn']}}</td>
						</tr>
						<tr>
							<td>Publisher: </td>
							<td>{{book2[2]['name']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</body>
</html>	