<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    </head>
	<body>
		<p>
		<a href="{{url_for('index')}}">Home Page</a><br/>
		This is where the books will go.</p>
		<table>
			<tbody>
				<tr>
					<td>Title</td>
					<td>Author</td>
					<td>Publisher</td>
					<td>Date Published</td>
					<td>Genre</td>
				</tr>
				<tr>
					<td><a href="{{url_for('book1')}}">{{book1[0]['title']}}</a></td>
					<td>{{book1[1]['name']}}</td>
					<td>{{book1[2]['name']}}</td>
					<td>{{book1[0]['publication_date']}}</td>
					<td>{{book1[0]['genre']}}</td>
				</tr>
				<tr>
					<td><a href="{{url_for('book2')}}">{{book2[0]['title']}}</a></td>
					<td>{{book2[1]['name']}}</td>
					<td>{{book2[2]['name']}}</td>
					<td>{{book2[0]['publication_date']}}</td>
					<td>{{book2[0]['genre']}}</td>
				</tr>
				<tr>
					<td><a href="{{url_for('book3')}}">{{book3[0]['title']}}</a></td>
					<td>{{book3[1]['name']}}</td>
					<td>{{book3[2]['name']}}</td>
					<td>{{book3[0]['publication_date']}}</td>
					<td>{{book3[0]['genre']}}</td>
				</tr>
			</tbody>
		</table>
        <!-- Bootstrap needs external JavaScript libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>
