<!DOCTYPE html>
<html>
	<head>
	</head>
		<body>
			<p>
			<a href="{{url_for('index')}}">Home Page</a><br/>
			<a href="{{url_for('books')}}">Book List</a>
			</p>
			<div>
				<h3>{{book1[0]['title']}}</h3>
				<h4><a href="{{url_for('author1')}}">{{book1[1]['name']}}</a></h4>
				{% if book1[0]['subtitle'] != '' %}
					<p>{{book1[0]['subtitle']}}</p>
				{% endif %}
				{% if book1[0]['image_url'] != '' %}
					<img src="{{book1[0]['image_url']}}" alt="Front Cover">
				{% endif %}
					
			</div>
			<div>
				<p>Description: <br/>
				{{book1[0]['description']}}<br/></p>
				<table>
					<tbody>
																		<tr>
							<td>Genre: </td>
							<td>{{book1[0]['genre']}}</td>
						</tr>
						<tr>
							<td>Google ID: </td>
							<td>{{book1[0]['google_id']}}</td>
						</tr>
						<tr>
							<td>ISBN: </td>
							<td>{{book1[0]['isbn']}}</td>
						</tr>
						<tr>
							<td>Publisher: </td>
							<td>{{book1[2]['name']}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</body>
</html>	
