<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    </head>
	<body>
		<p>Home Page.</br>
		List of <a href="{{url_for('books')}}">books</a> <br/>
		List of <a href="{{url_for('authors')}}">authors</a> <br/>
		List of <a href="{{url_for('publishers')}}">publishers</a> <br/>
		<a href="{{url_for('about')}}">About us</a> <br/>
 		</p>

        <!-- Bootstrap needs external JavaScript libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>
