<!DOCTYPE html>
<html>
	<head>
	</head>
		<body>
			<p>
			<a href="{{url_for('index')}}">Home Page</a><br/>
			<a href="{{url_for('publishers')}}">Publisher List</a>
			</p>
			<div>
				<h3>{{book1[2]['name']}}</h3>
				{% if book1[1]['description'] != '' %}
					<p>Description: {{book1[2]['description]}}</p>
				{% endif %}
			</div>
			<div>
				<table>
					<tbody>
						<tr>
							<td>Parent Company: </td>
							<td>{{book1[2]['parent_company']}}</td>
						</tr>
						<tr>
							<td>Founded: </td>
							<td>{{book1[2]['founded']}}</td>
						</tr>
						<tr>
							<td>Location: </td>
							<td>{{book1[2]['location']}}</td>
						</tr>
						<tr>
							<td>Number of Available Books</td>
							<td>{{book1[2]['books']}}</td>
						</tr>
					</tbody>
				</table>
				<p>Available Books Published: <p>
				<p><a href="{{url_for('book1')}}">{{book1[0]['title']}}</a> by <a href="{{url_for('author1')}}">{{book1[1]['name']}}</a></p><br/>

				<a href="{{book1[2]['website']}}">{{book1[2]['name']}}'s Website</a><br/>
				{% if book1[2]['wikipedia_url'] != '' %}
					<a href="{{book1[2]['wikipedia_url']}}">Wikipedia</a>
			</div>
		</body>
</html>
