<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Publishers</title>
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    </head>
	<body>
		<p><a href="{{url_for('index')}}">Home Page</a> <br/>
		This page is for publishers.</p>

		<table>
			<tbody>
				<tr>
					<td>Name</td>
					<td>Year Founded</td>
					<td>Located</td>
					<td>Parent Company</td>
					<td>Number of books Available</td>
				</tr>
				<tr>
					<td><a href="{{url_for('publisher1')}}">{{book1[2]['name']}}</a></td>
					<td>{{book1[2]['founded']}}</td>
					<td>{{book1[2]['location']}}</td>
					<td>{{book1[2]['parent_company']}}</td>
					<td>{{book1[2]['books']}}</td>
				</tr>
				<tr>
					<td><a href="{{url_for('publisher2')}}">{{book2[2]['name']}}</a></td>
					<td>{{book2[2]['founded']}}</td>
					<td>{{book2[2]['location']}}</td>
					<td>{{book2[2]['parent_company']}}</td>
					<td>{{book2[2]['books']}}</td>
				</tr>
				<tr>
					<td><a href="{{url_for('publisher3')}}">{{book3[2]['name']}}</a></td>
					<td>{{book3[2]['founded']}}</td>
					<td>{{book3[2]['location']}}</td>
					<td>{{book3[2]['parent_company']}}</td>
					<td>{{book3[2]['books']}}</td>
				</tr>
			</tbody>
		</table>

        <!-- Bootstrap needs external JavaScript libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>
